{% extends 'base.html' %}

{% block content %}
 
<h1>글쓰기</h1> 
<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>제목 : <input type="text" name="title"></p>
    <p>작성자 : <input type="text" name="writer"></p>
    <p>가격 : <input type="text" name="price"></p>
    <p>사진 : <input type="file" name="image"></p>
    <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="30"></textarea> </p>
    <button type="submit">제출</button>
</form>
       
         
{% endblock %}